@media only screen and (max-width:750px) {
.logo {
   min-width: 50% !important;
   
}

}
.navitemscontainer{
   border-radius: 25px;
   display: flex;
   align-items: center;
}
.navitemscontainer:hover{
   background-color: white;
   box-shadow: 0 0 5px grey;
}
.navitemscontainer:hover .navitems{

   color: black;
   text-shadow: none;
}
.navitems{
   font-family: Verdana, sans-serif;
   text-shadow: 0 1px 3px black;
   color: white;
   text-decoration: none;
   margin: 0;
}